
.about .us
{
    background-image: url(../img/kristy_nat.png);
    width: 230px;
    height: 230px;
    margin: auto;
    background-size: 240px;
    border-radius: 150px;
    background-position: bottom;
    /*
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    */
}

.about .about-text
{
    width: 300px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    line-height: 20px;

}

.about .about-text h2
{
    font-weight: bold;
    margin: 10px 0;
    text-align: center;

}