html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face
{
    font-family: ChelseaMarket;
    src: url(../fonts/ChelseaMarket-Regular.ttf);
}

@font-face
{
    font-family: AmaticSC;
    src: url(../fonts/AmaticSC-Regular.ttf);
}

body {
    font-family: AmaticSC;
}

header 
{
    margin: 20px;
}

h1
{
    font-size: 80px;
    font-family: ChelseaMarket;
}

nav
{
    width:100%;
    text-align: right;
    border-bottom: 1px dashed #000;
    padding-bottom: 10px;
}

ul
{    
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 40px;
}

ul li 
{
    display: inline-block;
    padding-left: 100px;
}

ul li a 
{
    text-decoration: none;
    color:#000;
}

.title
{
    display: inline-block;
    width: 25%;
    height: 90px;
    color: #A89F01;
}

.menu
{
    display: inline-block;
}

.sub-heading
{
    display: inline-block;
    float: left;
    font-size: 40px;
}

.content-home
{
    margin: 20px;
    
}

.full-image
{
    background-image: url('../img/one.png');
    display: table;
    overflow: hidden;
    min-height: 800px;
    background-size: cover;
    width: 100%;
    
}
