html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face
{
    font-family: ChelseaMarket;
    src: url(../fonts/Langdon.otf);
}

@font-face
{
    font-family: AmaticSC;
    src: url(../fonts/ostrich-sans/ostrich-regular.ttf);
}

body {
    font-family: AmaticSC;
}

header 
{
    margin: 20px;
}

h1
{
    font-size: 100px;
    height: 82px;
    font-family: ChelseaMarket;
    text-align: left;
    padding-left: 5px;
}

nav
{
    width:100%;
    text-align: right;
    border-bottom: 1px dashed #000;
    height: 135px;
    padding-top: 100px;
}

nav.mobileMenu
{
    border:none;
    padding-top: 0;
    position: fixed;
}

ul
{    
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 30px;
}

ul li 
{
    display: inline-block;
}

ul li a 
{
    text-decoration: none;
    color:#000;
}

.title
{
    display: inline-block;
    width: 25%;
    height: 90px;
    color: #A89F01;
    position: absolute;
    top: 20px;
    cursor: pointer;
}

.title.small
{
    position: absolute;
    z-index: 1;
    top: 0;

}

.title.small h1
{
    font-size: 40px;
    text-align: left;
    padding: 4px;
    top: 0;
}

.menu
{
    display: inline-block;
}

.sub-heading
{
    display: inline-block;
    float: left;
    font-size: 30px;
    position: absolute;
    text-align: left;
    left: 10px;
    color: black;
    width: 190px;
}

.small .sub-heading 
{
    font-size: 15px;
    left: 90px;
    width: 100px;
    top: 14px;
}

.content-home
{
    margin: 20px;
    
}

.full-image
{
    background-image: url('../img/one.png');
    display: table;
    overflow: hidden;
    min-height: 800px;
    background-size: cover;
    width: 100%;
    
}

.main-box
{
    margin-top: 30px;
    width: 100%;
}

.main-box.mobile
{
    margin-top: 70px;
}

.main-box .bit-one
{
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 2em;
    min-width: 300px;
}

.main-box .bit-one .an-imgage
{
    background: url(../img/image.png);
    display: table;
    overflow: hidden;
    min-height: 30vw;
    background-size: cover;
    width: 80%;
    margin: auto;
}

.main-box.mobile .bit-one .an-imgage
{
    min-height: 50vw;
}

.main-box .bit-two
{
    width: 49%;
    display: inline-block;
    font-size: 60px;
    text-align: center;
    vertical-align: top;
    padding: 1em;
    min-width: 300px;
}

.main-box .bit-two > div:first-child
{
    font-size: 40px;

}

@media screen and (max-width: 600px)
{
    .main-box .bit-one
    {
        width:100%;
    }
    .main-box .bit-two
    {
        width:100%;
    }

}
